*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
:root {
    --hotsauce: rgba(159, 39, 22, 1);
    --soysauce: rgba(47, 12, 9, 1);
}
html {
    font-size: 62.5%;
}
#allImages {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}
.images {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: translateX(100%);
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;
    filter: grayscale(100%);
}
.images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.images.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition: 1.25s all ease;
    opacity: 1;
    filter: grayscale(0);
}

.images.exit {
    transform: translateX(-125%);
    transition-property: transform;
    transition: 0.75s all ease;
    /* animation: 1s exitAnim forwards; */

    filter: grayscale(100%);
}
.images.exit::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 500;
    animation: 0.5s exitAnim forwards;
    transform: translateX(0);
}

.images.onscreen::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 500;
    animation: 0.95s exitAnim forwards;
    background: var(--hotsauce);
}
.images.onscreen::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 500;
    animation: 1.5s exitAnimAfter forwards;
    background: var(--soysauce);
}

@keyframes exitAnim {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
        width: 50vw;
    }
    100% {
        transform: translateX(-100%);
        width: 0;
    }
}
@keyframes exitAnimAfter {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
        width: 70vw;
    }
    100% {
        transform: translateX(-100%);
        width: 0;
        opacity: 0.25;
    }
}

.exit {
    transition-property: transform;
    transition: 1s all ease;
    filter: grayscale(100%);
}

.title {
    position: absolute;
    left: 110%;
    opacity: 0;
    top: 10rem;
    font-size: 7rem;
    font-family: "Montserrat";
    color: var(--hotsauce);
    line-height: 0.95;
    transition: 1.25s all ease;
}

.title span {
    font-size: 9rem;
}
.textAnimate {
    left: 10rem;
    opacity: 1;
}
.fade {
    left: 10rem;
    opacity: 0.5;
}
.description {
    width: 25vw;
    font-size: 2rem;
    color: var(--soysauce);
    position: absolute;
    left: 10rem;
    top: 60rem;
    opacity: 0;
    transition: 1.25s all ease;
    font-family: "Montserrat";
    padding-left: 2rem;
    border-left: 2px solid var(--soysauce);
}
.description.textAnimateUp {
    top: 27rem;
    opacity: 1;
}
.whiteText {
    color: #e9e9e9;
    border-left: 2px solid #e9e9e9;
}
.greenText {
    color: rgba(109, 244, 27, 1);
}

/* ============== NAVIGATION ============== */
.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}
.dot {
    padding: 2rem 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
    transition: 1.25 all ease-in-out;
}

.dot.on {
    transition: 0.25 all ease-in-out;
    background: rgba(255, 199, 71, 0.5);
    border-bottom: 3px solid var(--soysauce);
    animation: 0.25s fadeIn ease-in forwards;
    opacity: 0;
}
@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.navLogo {
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
    transition: 0.25 all ease-in-out;
    opacity: 0.5;
}
.dot:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 1.25 all ease-in-out;
    background-blend-mode: multiply;
}
.dot:hover > .navLogo {
    height: 4rem;
    transition: 0.25 all ease-in-out;
    opacity: 1;
}
.navLogo.on {
    height: 4rem;
    width: 7rem;
    cursor: pointer;
    transition: 0.15 all ease-in-out;
    opacity: 1;
}
.intro {
    animation: scale 0.5s;
    width: 100vw;
    height: 100vh;
}
.intro .animate {
    animation: scale 0.5s;
}
@keyframes scale {
    0% {
        transform: scale(2);
        -webkit-transform: scale(2);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
